
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.current-site-navigation:active {
  color: #766357;
}

.advantages {
  text-align: center;

  background-color: #ffffff;
}

.advantages h2,
.advantages-title {
  font-size: 21px;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  line-height: 21px;

  background-color: #eeeeee;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  color: #ffffff;

  background-color: #81b3d2;
}

.features {
  text-align: center;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-size: 21px;
}

.features-description {
  color: #333333
}

.search p {
  text-align: center;
  line-height: 24px;
}

.search-intro .intro-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.form-group label,
.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
}

.form-group input::placeholder {
  color: #000000;
}

.form-group input {
  background-color: #f2f2f2;
  border: none;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.search-form .submit-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search-form .submit-btn:hover {
  background-color: #669ec0;
}

.search-form .submit-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filter-form ul {
  list-style: none;
  margin: 0;
}

.infrastructure-list li,
.type-list li {
  margin-bottom: 26px;
}

.infrastructure-list li:last-child,
.type-list li:last-child {
  margin-bottom: 0;
}

.filter-form {
  text-align: left;
  color: #ffffff;
  line-height: 21px;
}

.filter-form legend {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter-form input[type=text] {
  width: 50px;
  margin: 0;

  font: inherit;
  color: #ffffff;
  line-height: 21px;

  background: none;
  border: none;
  outline: 0;
}

.value-form legend {
  margin-bottom: 10px;
}

.value-form button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.value-form button:hover {
    color: #000000;

    background: #ffffff;
}

.hotel-sort {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-numbers {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.hotel-sort ul {
  list-style: none;
}

.main-sort a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.main-sort a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.main-sort a:active {
  color: #000000;
  border-bottom: none;
}

.main-sort a.current {
  color: #81b3d2;
  border-bottom: none;
}

.extra-sort a path {
  fill: #cacaca;
}

.extra-sort a:hover path {
  fill: #000000;
}

.extra-sort a:active path {
  fill: #81b3d2;
}

.extra-sort a.current path {
  fill: #81b3d2;
}

.hotel-list ul {
  list-style: none;
}

.hotel-list .list-item {
  text-align: left;
  line-height: 21px;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-more {
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-more:hover {
  background-color: #669ec0;
}

.hotel-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-book {
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  background-color: #ffffff;
}

.contacts-hashtag,
.contacts-number {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright p {
  color: #000000;
}

.footer-copyright path {
  fill: #231f20;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}



/******************** СЕТОЧНЫЕ СТИЛИ ***********************/

html,
body {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page .main-wrapper {
  background-image: url("../img/background.jpg");
  background-position: 0 -26px;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}

.add-page .main-wrapper {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}

.main-header {
  position: relative;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a{
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
  letter-spacing: 0px;
}

.site-navigation li:nth-child(1) a,
.site-navigation li:nth-child(2) a {
  text-align: left;
}

.site-navigation li:nth-child(3) a,
.site-navigation li:nth-child(4) a {
  text-align: right;
}

.site-navigation li:nth-child(1) a {
  margin-left: 73px;
}

.site-navigation li:nth-child(2) a {
  margin-left: 74px;
}

.site-navigation li:nth-child(3) a {
  margin-right: 76px;
}

.site-navigation li:nth-child(4) a {
  margin-right: 72px;
}

.navigation-item {
  box-sizing: border-box;
  width: 239px;
}

.navigation-item:nth-child(2) {
  margin-right: 244px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 530px;
  margin: 0 auto;
}

.intro {
  margin: 0;
  padding: 0;
  padding-bottom: 79px;
  display: flex;
  position: relative;
}

img.intro-welcome {
  margin-top: 78px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.intro::after {
  content: url("../img/intro-mask.svg");

  position: absolute;
  top: 100%;
  margin-top: -57px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-intro {
  box-sizing: border-box;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 52px;
  padding-left: 5px;
}

.advantages-intro h2 {
  margin-top: 0;
  margin-bottom: 26px;
}

.advantages-intro p {
  margin-bottom: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 100%;
}

.advantages-wrap {
  display: flex;
}

.advantages-wrap img {
  height: 257px;
  object-fit:cover;
  box-sizing: border-box;
}

.advantages-item:nth-child(1) .advantages-info {
  padding: 45px;
}

.advantages-item:nth-child(2) .advantages-info {
  padding: 45px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5) {
  box-sizing: border-box;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 42px;
}

.advantages-item:nth-child(3) {
  padding-left: 95px;
  padding-right: 97px;
}

.advantages-item:nth-child(4) {
  padding-left: 69px;
  padding-right: 69px;
}

.advantages-item:nth-child(5) {
  padding-left: 76px;
  padding-right: 76px;
}

.advantages-info {
  width: 400px;
  box-sizing: border-box;
}

.advantages-title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item:nth-child(1) .advantages-description::before {
  content: "— №1 —";
}

.advantages-item:nth-child(2) .advantages-description::before {
  content: "— №2 —";
}

.advantages-item:nth-child(3) .advantages-description::before {
  content: "— №3 —";
  display: block;
  margin-bottom: 22px;
  margin-top: 24px;
}

.advantages-item:nth-child(4) .advantages-description::before {
  content: "— №4 —";
}

.advantages-item:nth-child(5) .advantages-description::before {
  content: "— №5 —";
}

.advantages-description::before {
  display: block;
  margin-bottom: 22px;
  margin-top: 24px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.features-item {
  box-sizing: border-box;
  width: 400px;
}

.features-item h3 {
  margin: 0;
  margin-bottom: 25px;
}

.features-description {
  width: 285px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 81px;
}

.features-item:nth-child(1) {
  padding-top: 100px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.features-item:nth-child(2) {
  padding-top: 100px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.features-item:nth-child(3) {
  padding-top: 100px;
  background-image: url("../img/icon-present.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.search {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 52px;
}

.search-intro {
  box-sizing: border-box;
  width: 436px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  padding: 0px;
}

.search-intro .intro-title {
  margin-top: 0px;
  margin-bottom: 24px;
}

.search-intro .intro-title + p {
  margin-top: 0;
}

.search-intro p {
  padding: 0px;
}

.search-form {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.search-form form {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  padding-left: 56px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form .search-btn {
  width: 100%;
  height: 86px;
  padding: 0;
}

.search-form .form-group {
  width: 458px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.form-group .group-wrap {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  display: flex;
  padding-top: 6px;
  padding-bottom : 6px;
}

.form-group input {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 0;
  padding-left: 13px;
}

.button-calendar {
  position: absolute;
  right: 4px;
  top: 6px;
  border: none;
  background-color: transparent;
}

.button-calendar svg {
  fill: #cacaca;
}

.button-calendar:hover svg {
  fill: #000000;
}

.button-calendar:active svg {
  fill: #85b6d4;
}

.adults-group {
  width: 226px;
  display: flex;
  justify-content: space-between;
}

.childrens-group {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.add-group {
  display: flex;
}

.add-group button {
  width: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 21px;
  font-weight: bold;
  color: #a9a9a9;
}

.add-group button:hover {
  color: #000000;
}

.add-group button:active {
  color: #81b3d2;
}

.add-group input {
  width: 38px;
}

.search-form .submit-btn {
  width: 458px;
  height: 58px;
  margin-top: 25px;
  padding: 0;
}

.search-map {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search-map img {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-page .main-footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 17px;
  padding-left: 124px;
  padding-right: 101px;
  opacity: 0.9;
  position: absolute;
  bottom: 0px;
}

.add-page .main-footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 17px;
  padding-left: 124px;
  padding-right: 101px;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.footer-contacts {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 224px;
  margin-right: 177px;
}

.contacts-hashtag {
  display: inline-block;
  margin-bottom: 4px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 150px;
}

.footer-social ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 197px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.copyright-button {
  box-sizing: border-box;
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.hotel-filter {
  background-color: #263940;
  background-image: url(../img/background-filter.jpg);
  background-size: 1200px 800px;
  background-position: center -300px;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  padding: 27px 71px 30px 71px;
}

.filter-form fieldset {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.filter-form ul {
  padding: 0;
}

.filter-form fieldset:nth-child(1) {
  width: 140px;
  margin-right: 115px;
  margin-left: 0;
}

.filter-form fieldset:nth-child(2) {
  width: 136px;
  margin-right: auto;
  margin-left: 0;
}



.filter-form .value-form {
  width: 315px;
}

.value-form fieldset:nth-child(1) {
  width: inherit;
  margin-right: 0;
  margin-left: 0;
}

.value-range {
  box-sizing: border-box;
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.value-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.value-range label {
  display: inline-block;

  font-size: 14px;
  line-height: 35px;
  vertical-align: top;

  cursor: pointer;
}

.value-range .min-value {
  width: 155px;
  padding-left: 64px;
}

.value-range .max-value {
  width: 155px;
  padding-left: 55px;
}

.filter-input-checkbox + label {
  position: relative;
  display: block;
  margin-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 0;
  left: -40px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.hotel-sort {
  box-sizing: border-box;
  display: flex;
  padding: 30px 73px 30px 72px;
  background-color: #ffffff;
}

.main-sort {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  padding: 0;
}

.main-sort li {
  margin: 0;
}

.extra-sort {
  display: flex;
  justify-content: space-between;
  width: 36px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.sort-wrap {
  display: flex;
  margin: 0;
  margin-top: 6px;
  margin-right: auto;
}

.sort-wrap p {
  margin: 0;
  margin-right: 40px;
}

.hotel-numbers {
  margin: 0;
  margin-right: 48px;
}

.hotel-list {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.hotel-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotel-list .list-item {
  padding: 30px;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-info {
  margin: 0;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.hotel-info img {
  width: 135px;
  height: 90px;
  box-sizing: border-box;
}

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 258px;
  margin-left: 30px;
  padding-bottom: 0;
}

.info-wrap a {
  display: block;
}

.hotel-title {
  margin: 0;
  margin-top: -5px;
  padding: 0;
}

.info-wrap p {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 7px;
}

.info-wrap span {
  display: block;
}

.hotel-more {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hotel-book {
  box-sizing: border-box;
  width: 142px;
  height: 27px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hotel-price {
  margin-right: 77px;
}

.rating-wrap {
  margin: 0;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rating-wrap p {
  margin: 0;
}

.hotel-star {
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
}

.four-star {
  width: 89px;
}

.three-star {
  width: 64px;
}

.two-star {
  width: 41px;
}

p.hotel-rating {
  box-sizing: border-box;
  margin-top: 46px;
  width: 110px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
}


.hotel-list .list-item {
  border-top: 1px solid #e5e5e5;
}

.hotel-list .list-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
