
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.current-site-navigation:active {
  color: #766357;
}

.advantages {
  text-align: center;

  background-color: #ffffff;
}

.advantages h2,
.advantages-title {
  font-size: 21px;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  line-height: 21px;

  background-color: #eeeeee;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  color: #ffffff;

  background-color: #81b3d2;
}

.features {
  text-align: center;
  line-height: 21px;

  background-color: #ffffff;
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-size: 21px;
}

.search p {
  text-align: center;
  line-height: 24px;
}

.search-intro {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.form-group label,
.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
}

.form-group input::placeholder {
  color: #000000;
}

.form-group input {
  background-color: #f2f2f2;
  border: none;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.form-group button {
  background-color: #cacaca;
}

.form-group button:active {
  background-color: #81b3d2;
}

.submit-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.submit-btn:hover {
  background-color: #669ec0;
}

.submit-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filter-form ul {
  list-style: none;
}

.filter-form {
  text-align: left;
  color: #ffffff;
  line-height: 21px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-form input[type=text] {
  font: inherit;
  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background: none;
  border: solid 2px #ffffff;
  outline: 0;
}

.filter-form button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;

  background: none;
  border: solid 2px #ffffff;
}

.filter-form button:hover {
  color: #000000;

  background-color: #ffffff;
}

.hotel-sort {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-numbers {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.hotel-sort ul {
  list-style: none;
}

.main-sort a {
  color: rgba(0, 0, 0, 0.3);
}

.main-sort a:hover {
  color: #81b3d2;
}

.main-sort a:active {
  color: #000000;
}

.main-sort a.current {
  color: #81b3d2;
}

.extra-sort a {
  color: #cacaca;
}

.extra-sort a:hover {
  color: #000000;
}

.extra-sort a:active {
  color: #81b3d2;
}

.extra-sort a.current {
  color: #81b3d2;
}

.hotel-list ul {
  list-style: none;
}

.hotel-list .list-item {
  text-align: left;
  line-height: 21px;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-more {
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-more:hover {
  background-color: #669ec0;
}

.hotel-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-book {
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  background-color: #ffffff;
}

.contacts-hashtag,
.contacts-number {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-copytight {
  text-align: center;
}

.footer-copyright p {
  color: #000000;
}

.footer-copyright a {
  color: #231f20;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}



/******************** СЕТОЧНЫЕ СТИЛИ ***********************/

html,
body {
  min-width: 1280px;
}

body.main-page {
  background-image: url("../img/background.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

body.add-page {
  background-image: url("../img/background-filter.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 1200px 562px;
}

.main-header {
  width: 1200px;
  margin-bottom: 78px;

   /* Временно для сетки */
  min-height: 56px;
}

.main-navigation {

    /* Временно для сетки */
  min-height: 56px;
}

.site-navigation {
  margin: 0px;
  padding: 0px;
  display: flex;

    /* Временно для сетки */
  min-height: 56px;
}

.navigation-item {
  width: 239px;
  text-align: center;

  /* Временно для сетки */
}

.navigation-item:nth-child(2) {
  margin-right: 244px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 530px;
  margin: 0 auto;
}

main.container {
  width: 1200px;

  /* Временно для сетки */
}

.intro {
  margin: 0px;
  padding: 0px;
  width: 1200px;
  display: flex;
}

img.intro-welcome {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-intro {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
  padding-top: 61px;
  padding-bottom: 56px;
}

.main-footer {
  box-sizing: border-box;
  margin: 0px;
  padding: 36px;
  width: 1200px;

  /* Временно для сетки */
  min-height: 120px;

}

.main-footer .container {
  display: flex;

  /* Временно для сетки */

}

.footer-contacts {
  margin: 0;
  width: 225px;
  margin-right: 178px;

  /* Временно для сетки */

  min-height: 49px;
}

.footer-social {
  margin: 0px;
  width: 150px;

  /* Временно для сетки */

  min-height: 49px;
}

.footer-copyright {
  margin: 0;
  width: 198px;
  margin-left: auto;

  /* Временно для сетки */
  min-height: 49px;
}


.hotel-list {
  margin: 0px;
  padding: 0px;
}

.hotel-list ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.hotel-list .list-item {
  min-height: 152px;
  padding: 32px;
  display: flex;
}

.hotel-info {
  width: 424px;
  min-height: 92px;
  margin-left: 72px;
  margin-right: auto;
}

.hotel-rating {
  width: 110px;
  min-height: 92px;
  margin-right: 72px;
}


