
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.current-site-navigation:active {
  color: #766357;
}

.intro {
  background-color: #677c8b;
  background-image: url("../img/background.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

.advantages {
  text-align: center;

  background-color: #ffffff;
}

.advantages h2,
.advantages-title {
  font-size: 21px;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  line-height: 21px;

  background-color: #eeeeee;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  color: #ffffff;

  background-color: #81b3d2;
}

.features {
  text-align: center;
  line-height: 21px;

  background-color: #ffffff;
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-size: 21px;
}

.search p {
  text-align: center;
  line-height: 24px;
}

.search-intro {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.form-group label,
.form-group input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
}

.form-group input::placeholder {
  color: #000000;
}

.form-group input {
  background-color: #f2f2f2;
  outline: 0;
  border: none;
}

.form-group input:hover {
  background-color: #ebebeb;
}

.form-group input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.form-group button {
  background-color: #cacaca;
}

.form-group button:active {
  background-color: #81b3d2;
}

.submit-btn {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.submit-btn:hover {
  background-color: #669ec0;
}

.submit-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  background-color: #ffffff;
}

.contacts-hashtag,
.contacts-number {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-copytight {
  text-align: center;
}

.footer-copyright p {
  color: #000000;
}

.footer-copyright a {
  color: #231f20;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}
